[project]
	description = ....a top-notch resource for web developers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jainabhishek
[access "refs/for/refs/*"]
	read = group user/jainabhishek
	push = group user/jainabhishek
	label-Code-Review = -2..+2 group user/jainabhishek
	label-Verified = -1..+1 group user/jainabhishek
	rebase = group user/jainabhishek
	removeReviewer = group user/jainabhishek
	submit = group user/jainabhishek
[access "refs/heads/*"]
	read = group user/jainabhishek
	create = group user/jainabhishek
	push = +force group user/jainabhishek
	pushMerge = group user/jainabhishek
[access "refs/tags/*"]
	push = +force group user/jainabhishek
	pushTag = group user/jainabhishek
	pushSignedTag = group user/jainabhishek
